html {
    height: 100%;
}
body {
    min-height: 100%;
    grid-template-rows: 1fr auto;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
footer {
    background-color: #BFD9D7;
    padding: 1rem;
    position: sticky;
    top: 100%;
}
footer h3 {
    min-height: 60px;
}
.topnav a:hover {
    background-color:#a2b9b7e7;
    color: black;
}
.topnav a {
    float: left;
    display: block;
    color:  rgb(102, 102, 102);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
@media screen and (max-width: 600px) {
    .topnav a {
      float: none;
      width: 100%;
    }
}
section h2 {
    min-height: 60px;
}